*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    /* height: 100vh; */
    align-items: center;
    background: whitesmoke;
}

.container {
    display: flex;
}

.card {
    height: 500px;
    margin: 50px;
    box-shadow: 5px 5px 20px black;
    position: relative;

    overflow: hidden;
}

img{
    height: 500px;
    width: 350px;
    border-radius: 5px;
    transition: .5s ease;
}

.intro {
    height: 70px;
    width: 350px;
    padding: 6px;
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
    background: rgba(27,27,27, .5);
    color: white;
    transition: .5s ease-in;
}

h1{
    margin: 10px;
    font-size: 40px;

}

p{
    font-size: 20px;
    margin-right: 20px;
    visibility: hidden;
    opacity: 0;
    transition: 0.7s ease;
}

span{
    font-weight: bold;
}

.card:hover{
    cursor: pointer;
}

.card:hover .intro{
    height: 220px;
    /* bottom: 30px; */
    background-color: black;
}

.card:hover p{
    opacity: 1;
    visibility: visible;
}

.card:hover img{
    transform: scale(1.1) rotate(-3deg);
}